*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #1f1f1f;
}
.toolbar {
  display: flex;
  background-color: pink;
  padding: 1rem;
  gap: 1rem;
}
.link {
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background: none;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  left: 0;
  transform: translateX(-0.75rem);
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-1rem, -10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translate(-0.75rem, 0px);
  pointer-events: auto;
}

/* .active {
  opacity: 1;
  transform: translate(-1rem, 10px);
  pointer-events: auto;
} */
